@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  user-select: none;
  -webkit-user-drag: none;
  font-family: serif;
}
.sidebar{
  @apply flex flex-col w-[200px] pt-10 pb-5 justify-between items-center bg-white absolute min-h-screen text-lg z-10 md:text-lg;
}
.closeImg{
  @apply w-5 self-center mb-1;
}
.hamburger{
  @apply w-8 absolute top-14 left-16 ;
}
.sidebar-option{
  @apply w-full min-h-screen p-2;
}
.loginSignup{
  @apply w-full flex flex-col pt-36 items-center text-2xl min-h-svh p-5;
}
.inputForm{
@apply px-2 border rounded-md text-black border-black mb-5 md:mb-10 md:py-1.5 w-48 md:w-56 lg:w-64 xl:w-72;
}
.buttonForm{
  @apply rounded-md bg-gray-400 text-xl  font-bold w-32 py-1.5 mb-6;
}
.buttonFormHover{
  @apply hover:text-black hover:bg-gray-300;
}
.view{
  @apply flex flex-col items-center lg:items-baseline lg:flex-row lg:justify-evenly lg:p-0 pt-20 lg:pt-32;
}
.sidebarNav{
  @apply w-full flex px-10 md:px-8 2xl:px-8 items-center py-2 rounded-lg gap-3 ;
}
.sidebarNavSelected{
  @apply bg-blue-600 text-white;
}
.sidebarNavHover{
  @apply hover:bg-gray-200;
}
.incomeExpense{
  @apply flex flex-col pt-24 items-center;
}
.incomeExpenseForm{
  @apply py-1.5 px-2 text-black placeholder:text-gray-400 text-lg rounded-lg;
}
.tableElementBorder{
  @apply border border-gray-200;
}
.tableStyle{
  @apply text-center sm:text-lg md:text-xl lg:text-2xl;
}
.tableStyleRow{
 @apply px-1 sm:px-2;
}
.tableRow{
  @apply hover:bg-green-800 hover:text-white;
}
.update{
  @apply flex flex-col pt-24 items-center;
}
.updateButtonForm{
  @apply rounded-md bg-red-500 text-xl text-white font-bold w-28 lg:w-24 py-1;
}
.updateButtonFormHover{
  @apply hover:text-white hover:bg-red-600;
}



table th{
  @apply bg-gray-800 text-white;
}
table tr{
  @apply bg-gray-400 text-black;
}


/*custom css */


.sidebarTransition{
  transition: opacity 0.3s ease-out;
  }
.graph-width{
  width: 45rem;
  }
.totalContainer{
  margin-left:37%;
}