@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  user-select: none;
  -webkit-user-drag: none;
}
.sidebar-option{
  @apply border-4 w-screen min-h-screen;
}
.graph-width{
width: 45rem;
}
.tableElementBorder{
  @apply border border-red-600;
}

.loginSignup{
  @apply w-full border-4 flex flex-col items-center text-2xl;
}
.inputForm{
@apply px-2 border rounded-md border-black mb-3;
}
.buttonForm{
  @apply rounded-md bg-gray-600 text-white font-bold w-36 py-1 mb-2;
}
.buttonFormHover{
  @apply hover:text-gray-600 hover:bg-gray-300;
}