@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  user-select: none;
  -webkit-user-drag: none;
}
.sidebar-option{
  @apply border-4 w-screen min-h-screen;
}
.graph-width{
width: 45rem;
}
.tableElementBorder{
  @apply border border-red-600;
}