@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  user-select: none;
  -webkit-user-drag: none;
}
.sidebar{
  @apply border-4 flex flex-col px-4 pt-10 absolute bg-white w-40 min-h-screen text-2xl gap-y-5 z-10;
}
.sidebarTransition{
transition: opacity 0.3s ease-out;
}
.closeImg{
  @apply w-5 self-end mb-1;
}
.hamburger{
  @apply w-6 absolute top-12 left-5 ;
}

.sidebar-option{
  @apply border-4 w-full min-h-screen p-2;
}
.graph-width{
width: 45rem;
}
.tableElementBorder{
  @apply border border-red-600;
}

.loginSignup{
  @apply w-full border-4 flex flex-col pt-36 items-center text-2xl min-h-screen overflow-hidden p-5;
}
.inputForm{
@apply px-2 border rounded-md border-black mb-5 w-48 md:w-56 lg:w-64 xl:w-72;
}
.buttonForm{
  @apply rounded-md bg-gray-600 text-xl text-white font-bold w-36 py-1.5 mb-3;
}
.buttonFormHover{
  @apply hover:text-black hover:bg-gray-300;
}